body, html {
    padding: 0;
    text-align: center;
    margin: 0;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
   #game-intro {
    display: none;
    padding: 0px 0px;
  } 
  
  #game-container {
    display: block;
    overflow: hidden;
  } 

#game-screen {
    display: block;
    align-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh ;
    width: 300vw;
    background-image: url(../images/background.png);
    background-size: cover;
    transform: translateX(0);
    animation: slide 15s linear 1s infinite; 
    
  }
  
  @keyframes slide {
    to {
        transform: translateX(-66.66%);
      }
    
  }